{% load staticfiles %}
{% load thumbnail %}
{% load i18n %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}{% endblock description %}">
    <meta name="keywords" content="

            {% block main_keywords %}{{ object.main_keywords }}{% endblock main_keywords %}{% block keywords %}{% endblock keywords %}">
    <meta name="author" content="">
    <meta name="google-site-verification" content="m40m6d7P4FdmYY7AWmK82LYHKhwDow4HxYVOKGSptv0"/>
    <meta name="yandex-verification" content="471fbee9d9a63df4"/>
    <meta property="og:image"
          content="http://excursions-lisbon.com/media/walking_tour_lisbon.JPG.720x480_q85_crop-smart.jpg"/>
    <title>{% block title %}{% endblock title %}</title>
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicon-16x16.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'icons/favicon-96x96.png' %}">
    <link rel="stylesheet" href="{% static 'vendor/vendor.min.css' %}">
    <link rel="stylesheet" href="{% static 'custom/css/dist/styles.min.css' %}">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="{% static 'vendor/vendor.min.js' %}"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body ng-app="root">
{% include 'templates/nav/_navbar.html' %}
{% include 'templates/_alerts.html' %}
{% block beadcrumbs %}{% endblock beadcrumbs %}
{% block content %}{% endblock content %}
{% include 'templates/_footer_refills.html' %}
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-75045829-1', 'auto');
    ga('send', 'pageview');
</script>
<script src="{% static 'custom/js/main.js' %}"></script>

<script>

    (function () {

        var widget_id = 877370;

        _shcp = [{widget_id: widget_id}];

        var lang = (navigator.language || navigator.systemLanguage

            || navigator.userLanguage || "en")

            .substr(0, 2).toLowerCase();

        var url = "widget.siteheart.com/widget/sh/" + widget_id + "/" + lang + "/widget.js";

        var hcc = document.createElement("script");

        hcc.type = "text/javascript";

        hcc.async = true;

        hcc.src = ("https:" == document.location.protocol ? "https" : "http") + "://" + url;

        var s = document.getElementsByTagName("script")[0];

        s.parentNode.insertBefore(hcc, s.nextSibling);

    })();

</script>
<script>
    angular.module('root', ['ngMessages', 'ngCookies'])
        .controller('FormController', ['$scope', function ($scope) {
            $scope.fullname = '';
            $scope.email = '';
            $scope.phone = '';
            $scope.message = '';
            $scope.date = '';
            $scope.cancel = function () {
                $scope.fullname = '';
                $scope.email = '';
                $scope.phone = '';
                $scope.message = '';
                $scope.date = '';
                $scope.bookingForm.fullname.$touched = false;
                $scope.bookingForm.email.$touched = false;
                $scope.bookingForm.phone.$touched = false;
                $scope.bookingForm.message.$touched = false;
                $scope.bookingForm.date.$touched = false;
            };
        }])
        .controller('ContactFormController', ['$scope', function ($scope) {
            $scope.fullname = '';
            $scope.email = '';
            $scope.phone = '';
            $scope.message = '';
            $scope.wrongCaptchaResponse = true;
            $scope.recaptchaResponse = function(key) {
                $scope.wrongCaptchaResponse = false;
                $scope.apply();
            };
            window.recaptchaResponse = $scope.recaptchaResponse;
            $scope.cancel = function () {
                $scope.fullname = '';
                $scope.email = '';
                $scope.phone = '';
                $scope.message = '';
                $scope.contactForm.fullname.$touched = false;
                $scope.contactForm.email.$touched = false;
                $scope.contactForm.phone.$touched = false;
                $scope.contactForm.message.$touched = false;
            };
        }]);
</script>

</body>
</html>