{% load staticfiles %}
{% load thumbnail %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}{% endblock description %}">
    <meta name="author" content="">
    <title>Madeira :: {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'custom/ico/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/components-font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'custom/css/styles.css' %}">
    <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/lodash/dist/lodash.min.js' %}"></script>
</head>
<body>
{% include 'templates/_nav.html' %}
{% include 'templates/_alerts.html' %}

{% block beadcrumbs %}


{% endblock %}

{#    {% block splash %}#}
{#    {% endblock splash %}#}

{#{% block container %}#}
{#    #}
{#{% endblock %}#}

{% block content %}
{% endblock %}
{% include 'templates/_footer.html' %}
</body>
</html>


