{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}
    {% include 'templates/_breadcrumbs.html' %}
    <section>
        <div class="container">
            <h1 class="display-4">{{ title }}</h1>
            {% if 'pt' in request.LANGUAGE_CODE %}
                {% for object in about_list %}
                    {% for paragraph in object.paragraph.all %}
                        <p>{{ paragraph.text_PT }}</p>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            {% if 'en' in request.LANGUAGE_CODE %}
                {% for object in about_list %}
                    {% for paragraph in object.paragraph.all %}
                        <p>{{ paragraph.text_EN }}</p>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            {% if 'de' in request.LANGUAGE_CODE %}
                {% for object in about_list %}
                    {% for paragraph in object.paragraph.all %}
                        <p>{{ paragraph.text_DE }}</p>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </div>
    </section>
{% endblock %}