{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }}About{% endblock %}
{% block content %}
    {% include 'templates/_breadcrumbs.html' %}
    <section>
        <div class="container">
            <h1 class="display-4">{{ title }}</h1>
            {% for object in about_list %}
                {% for paragraph in object.paragraph.all %}
                    <p>{{ paragraph }}</p>
                    {% if user.is_staff %}
                        <a class="btn btn-sm btn-danger-outline" href="/tours/{{ paragraph.id }}/edit/">edit</a>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </section>
{% endblock %}