{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }}About{% endblock %}
{% block content %}
    {% include 'templates/_breadcrumbs.html' %}
    <section>
        <div class="container">
            <h1 class="display-4">{{ title }}</h1>
            <div class="card-columns">
{#                {% for object in tour_list %}#}
{#                    {% include 'templates/_tour_card.html' %}#}
{#                {% endfor %}#}
            </div>
        </div>
    </section>
{% endblock %}