{% extends 'base.html' %}
{% load i18n %}
{% block title %}{{ title }}{% endblock title %}
{% block beadcrumbs %}
    {% include 'templates/_breadcrumbs.html' %}
{% endblock %}
{% block content %}
    <section>
    <div class="container contact">
        <h1 class="display-4">{{ title }}</h1>
        <div class="card-columns">
            {% for object in object_list %}
                {% include 'templates/_contact_card.html' %}
            {% endfor %}
        </div>
        {% if user.is_staff or user.is_superuser %}
            <a class="btn btn-warning" href="{% url 'contact:create' %}"><i class="fa fa-plus"></i> {% trans 'Create Contact' %}</a>
        {% endif %}
        {% include 'templates/_pagination.html' %}
    </div>
    </section>
{% endblock %}