{% extends 'base.html' %}
{% block beadcrumbs %}
    {% include 'templates/_breadcrumbs.html' %}
{% endblock %}
{% block content %}
    <section>
    <div class="container contact">
        <div class="row">
            <h1 class="display-4">{{ title }}</h1>
            {% for contact in contact_list %}
                {% include 'templates/_contact_card.html' %}
            {% endfor %}
        </div>
        {% if user.is_staff or user.is_superuser %}
            <a class="btn btn-warning" href="{% url 'contact:create' %}"><i class="fa fa-plus"></i> Create Contact</a>
        {% endif %}
    </div>
    </section>
{% endblock %}