{% extends 'base.html' %}
{% load i18n %}
{% block keywords %}{{ object.keywords_SEO }}{%  endblock %}
{% block description %}{{ object.description_SEO }}{% endblock %} }}
{% block title %}{{ title }}{% endblock title %}
{% block content %}
    {% load staticfiles %}
    {% include 'templates/_breadcrumbs.html' %}
    <section >
        <div class="container">
            <h1 class="display-4">{{ title }}</h1>
            <div class="row">
                <div class="col-md-6">
                    <div class="card-block">
                        {% if object.img %}
                            <a href="{% url 'home' %}">
                                <img style="max-height: 500px; object-fit: cover;"
                                     class="img-fluid"
                                     src="{% static '/media/' %}{{ object.img }}"
                                     alt="{{ title }}"
                                     width="100%">
                            </a>
                        {% else %}
                            {% if  object.url %}
                                <a href="{% url 'home' %}">
                                    <img style="max-height: 500px; object-fit: cover;"
                                         class="img-fluid"
                                         src="{{ object.url }}"
                                         alt="{{ title }}"
                                         width="100%">
                                </a>
                            {% else %}
                                <p style="text-align: center"><small><em>{% trans 'place for image' %}</em></small></p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6">
                    <a href="{% url 'home' %}" class="card-title">{{ object.title|upper }}{% if object.price %} | {{ object.price }} €{% endif %}</a>
                    <p class="card-text text-justify">{{ object.description }}</p>
                    <a href="{{ object.id }}" class="btn btn-danger text-uppercase" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">{% trans 'book now' %}</a>
                    {% include 'templates/_share.html' %}
                    {% if user.is_staff %}
                        <a class="btn btn-sm btn-danger-outline" href="{{ object.get_edit_url }}">
                            <i class="fa fa-pencil-square-o"></i> {% trans 'Edit' %}</a>
                        <a type="button" class="btn btn-sm btn-danger-outline" onclick="delete_contact({{ object.id }})" data-toggle="modal" data-target=".delete_tour"><i class="fa fa-trash"></i> {% trans 'Delete'%}</a></a>
                    {% endif %}
                    {% include 'templates/modal/_delete_tour.html' %}
                    {% include 'templates/_modal_book_now.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}