{% extends 'base.html' %}
{% load i18n %}
{% block title %}{{ title }}{% endblock title %}
{% block description %}{{ object.description_SEO }}{% endblock description %}
{% block keywords %}{{ object.keywords }}{% endblock keywords %}
{% block content %}
    {% load staticfiles %}
    {% include 'templates/_breadcrumbs.html' %}
    <section class="details">
        <div class="container">
            <h4 class="display-4">{{ title }}</h4>
            <div class="row">
                <div class="col-md-6">
                    <div class="card-block">
                        {% if object.img %}
                            <img style="max-height: 500px;   object-fit: cover;" class="img-fluid" src="{% static '/media/' %}{{ object.img }}" alt="" width="100%">
                        {% else %}
                            {% if  object.url %}

                                <img style="max-height: 500px;   object-fit: cover;" class="img-fluid" src="{{ object.url }}" alt="" width="100%">

                                {% else %}

                                <p style="text-align: center"><small><em>{% trans 'place for image' %}</em></small></p>

                                {% endif %}

                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6">
                    <h4 class="card-title">{{ object.title|upper }}</h4>
                    <p class="card-text text-justify">{{ object.description }}</p>
                    <a href="{{ object.id }}" class="btn btn-danger text-uppercase" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">{% trans 'book now' %}</a>
                    {% include 'templates/_share.html' %}
                    {% if user.is_staff %}
             <a class="btn btn-sm btn-danger-outline" href="/tours/{{ object.id }}/edit/">
                    <i class="fa fa-pencil-square-o"></i> {% trans 'Edit' %}</a>
            <a type="button" class="btn btn-sm btn-danger-outline" onclick="delete_contact({{ object.id }})" data-toggle="modal" data-target=".bd-example-modal-sm"><i class="fa fa-trash"></i> {% trans 'Delete'%}</a></a>
        {% endif %}
    <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Contact delete</h4>
                    </div>
                    <div class="modal-body">
                    <div class="modal-body">
                        <h4>Are you sure to delete Tour</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger" onclick="confirm()">Delete</button>
                    </div>
                </div>
            </div>
                </div>
        </div>
            <script>
                var _id = '';
                function delete_contact(id){_id = id}
                function confirm (){
                    debugger
                    window.location.pathname = '/tours/' + _id + '/delete/'}
            </script>
                    {% include 'templates/_modal.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}