{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }}Home{% endblock %}
{% block content %}
    <style>
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
    </style>
    <article>

        <div class="img">
            <div class="container">
                <h1 class="display-3 type">Welcome to Golden Lisbon!</h1>
{#                <h1 class="display-3">facilisis in, egestas eget quam.</h1>#}
{#                <a class="btn btn-lg btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up for Free!</a>#}
            </div>
        </div>
    </article>
    <article class="offer">
    <div class="container marketing">
        <h3 class="display-3 text-md-center">We Offer</h3>
    <p style="text-align: center"><a href="{% url 'offer:list' %}">
            <em>full offer list</em>
        </a></p>
        <div class="row">
            {% for offer in offer_list%}
                <div class="col-lg-4">
                    {% include 'templates/_offer_card.html' %}
                </div>
            {% endfor %}
        </div>
        {% if user.is_staff or user.is_superuser %}
            <a class="btn btn-warning" href="{% url 'offer:create' %}"><i class="fa fa-plus"></i> Create Offer</a>
        {% endif %}
    </div>
    </article>
{% endblock %}
