{% extends 'base.html' %}
{% load thumbnail %}
{% load i18n %}
{% block keywords %}{{ object.keywords_SEO }}{%  endblock %}
{% block description %}{{ object.description_SEO }}{% endblock %} }}
{% block title %}{{ title }}{% endblock title %}
{% block content %}
    {% include 'templates/_breadcrumbs.html' %}
    <section>
        <div class="container">
            <h1 class="display-4">{{ title }}</h1>
            <div class="card-columns">
            {% if 'pt' in request.LANGUAGE_CODE %}
                {% for object in object_list %}
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">{{ object.title_PT }}</h4>
                        </div>
                        <a href="{{ object.link }}"><img style="width: 100%; object-fit: cover" src="{% thumbnail object.img 720x480 crop="smart" %}" alt="{{ object.title_PT }}"></a>
                        <div class="card-block">
                            <p class="card-text">{{ object.description_PT }}</p>
                            <a href="{{ object.link }}" class="card-link">{% trans 'View details' %}</a>
                            {% include 'templates/_share.html' %}
                            {% include 'templates/_CRUD.html' %}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% if 'en' in request.LANGUAGE_CODE %}
                {% for object in object_list %}
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">{{ object.title_EN }}</h4>
                        </div>
                        <a href="{{ object.link }}"><img style="width: 100%; object-fit: cover" src="{% thumbnail object.img 720x480 crop="smart" %}" alt="{{ object.title_EN }}"></a>
                        <div class="card-block">
                            <p class="card-text">{{ object.description_EN }}</p>
                            <a href="{{ object.link }}" class="card-link">{% trans 'View details' %}</a>
                            {% include 'templates/_share.html' %}
                            {% include 'templates/_CRUD.html' %}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% if 'de' in request.LANGUAGE_CODE %}
                {% for object in object_list %}
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">{{ object.title_DE }}</h4>
                        </div>
                        <a href="{{ object.link }}"><img style="width: 100%; object-fit: cover" src="{% thumbnail object.img 720x480 crop="smart" %}" alt="{{ object.title_DE }}"></a>
                        <div class="card-block">
                            <p class="card-text">{{ object.description_DE }}</p>
                            <a href="{{ object.link }}" class="card-link">{% trans 'View details' %}</a>
                            {% include 'templates/_share.html' %}
                            {% include 'templates/_CRUD.html' %}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            </div>
            {% if user.is_staff or user.is_superuser %}
                <a class="btn btn-warning" href="{% url 'related_links:create' %}">
                    <i class="fa fa-plus"></i> {% trans 'Create Link' %}</a>
            {% endif %}
            {% include 'templates/_pagination.html' %}
        </div>
    </section>
{% endblock %}