{% extends 'base.html' %}
{% load i18n %}
{% block title %}{{ title }}{% endblock title %}
{% block beadcrumbs %}
    {% include 'templates/_breadcrumbs.html' %}
{% endblock %}
{% block content %}
    <div id="js-parallax-window" class="parallax-window">
        <div class="parallax-static-content">
              <div class="overlay"></div>
        <h1 style="color: bisque;position: relative" class="display-4">{{ title }}</h1>
        <div class="refills-cards">
            {% for object in object_list %}
                {% include 'templates/_car_card.html' %}
            {% endfor %}
        </div>
        {% if user.is_staff or user.is_superuser %}
            <a style="position:relative;" class="btn btn-warning" href="{% url 'rent_car:create' %}"><i class="fa fa-plus"></i> {% trans 'Create Car' %}</a>
        {% endif %}
        {% include 'templates/_pagination.html' %}


        </div>
        <div id="js-parallax-background" class="parallax-background"></div>
    </div>
{% endblock %}