{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <section>
    <div class="container">
        <h4 class="display-4">Left Review</h4>


{#    <form action="" method="post">#}
{#        <input type="hidden" name="next" value="{{ next }}" class="form-control">#}
{#        {{ form }}#}
{#        <br>#}
{#        <a type="submit" class="btn btn-lg btn-blue">Save</a>#}
{#        <br>#}
{#        <br>#}
{#        <br>#}
{#        {% csrf_token %}#}
{#    </form>#}

        <form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
            {{ form }}
            <input type="submit" class="btn btn-lg btn-blue" value='Create Review' />
        </form>
    </div>
    <script>
        $('textarea').each(function(){
            $(this).addClass('form-control')
        })
        $('input').each(function(){
            $(this).addClass('form-control')
        })
        $('label').each(function(){
            $(this).addClass('my-label')
        })
    </script>
    </section>
{% endblock %}
