{% extends 'base.html' %}
{% block content %}
    {% include 'templates/_breadcrumbs.html' %}
    <section>
        <div class="container">
        <h1 class="display-4">{{ title }}</h1>
            {% for review in review_list %}
                <blockquote class="blockquote">
                    <p class="m-b-0">{{ review.title }}</p>
                    <p class="m-b-0"><span class="text-muted">left by: </span>{{ review.user.name }}</p>
                    <div class="blockquote-footer">add on: <cite title="Source Title">{{ review.timestamp }}</cite></div>
                    <a href="/feedback/{{ review.id }}/details/">details</a>
                </blockquote>
{#        {{ review.slug }}#}
{#        {{ review.image }}#}
{#        {{ review.height_field }}#}
{#        {{ review.width_field }}#}
{#        {{ review.content }}#}
{#        {{ review.draft }}#}
{#        {{ review.publish }}#}
{#        {{ review.updated }}#}
{#        {{ review.timestamp }}#}
            {% endfor %}
            <a class="btn btn-warning" href="{% url 'create_review' %}">Create Review</a>
        </div>
    </section>
{% endblock %}