{% extends 'base.html' %}
{% block content %}
    {% include 'templates/_breadcrumbs.html' %}
    <section>
        <div class="container">
            <h1 class="display-4">{{ title }}</h1>
            <div class="card-columns">
                {% for object in object_list %}
                    {% include 'templates/_tour_card.html' %}
                {% endfor %}
            </div>
            {% if user.is_staff or user.is_superuser %}
                <a class="btn btn-warning" href="{% url 'tour:create' %}">
                    <i class="fa fa-plus"></i> Create Tour</a>
            {% endif %}
            {% include 'templates/_pagination.html' %}
        </div>
    </section>
{% endblock %}