{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <section>
    <div class="container">
    <form action="/reviews/" method="post">
        <input type="hidden" name="next" value="{{ next }}" class="form-control">
        {{ form }}
        <br>
        <a type="submit" class="btn btn-lg btn-blue">Save</a>
        <br>
        <br>
        <br>
        {% csrf_token %}
    </form>
    </div>
    <script>
        $('textarea').each(function(){
            $(this).addClass('form-control')
        });
        $('input').each(function(){
            $(this).addClass('form-control')
        });
        $('label').each(function(){
            $(this).addClass('my-label')
        });
    </script>
    </section>
{% endblock %}
