{% extends 'base.html' %}
{% load i18n %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}
    {% include 'templates/_breadcrumbs.html' %}
    <section>
        <div class="container">
            <h1 class="display-4">{{ title }}</h1>
            <div class="row">
            <div class="col-md-4">
                {% if 'pt' in request.LANGUAGE_CODE %}
                    {% for object in object_list %}
                        {% include 'templates/_tour_card_pt.html' %}
                    {% endfor %}
                {% endif %}
                {% if 'en' in request.LANGUAGE_CODE %}
                    {% for object in object_list %}
                        {% include 'templates/_tour_card_gb.html' %}
                    {% endfor %}
                {% endif %}
                {% if 'de' in request.LANGUAGE_CODE %}
                    {% for object in object_list %}
                        {% include 'templates/_tour_card_de.html' %}
                    {% endfor %}
                {% endif %}
            </div>
            </div>
            {% if user.is_staff or user.is_superuser %}
                <a class="btn btn-warning" href="{% url 'tour:create' %}">
                    <i class="fa fa-plus"></i> {% trans 'Create Tour' %}</a>
            {% endif %}
            {% include 'templates/_pagination.html' %}
        </div>
    </section>
{% endblock %}