.breadcrumb {
  width: 100%;
    position: absolute;
    margin-bottom: 0;
    border-radius: 0;
    /* background-color: rgba(255, 255, 255, 0.7); */
    transition: all .5s ease;
    z-index: 9000;
}
.breadcrumb:hover {
  //background-color: rgba(255, 255, 255, 1);
}

.btn-group.pull-right {
z-index: 9999;
}

.open>.dropdown-menu {
      z-index: 9999;
    display: block;
}