@import 'variables';
@import 'bourbon/bourbon';

.btn.btn-success-outline {
  @include transition(all .3s ease-in-out);
  color:darkgoldenrod;
  border:1px solid darkgoldenrod;
  transition:all .3s ease;
}
.btn.btn-success-outline:hover {
  color:#FFF;
  background-color:gold;
  border:1px solid gold;
}
.btn-danger {
  @include transition(all .3s ease-in-out);
  color: $color_white;
  background-color: #E83F6F;
  border-color: #E83F6F;
  transition: all .3s ease;
}
.btn-danger:hover {
  color: $color_white;
  background-color: #C83560;
  border-color: #C83560;
  transition: all .3s ease;
}
.btn-danger-outline {
  @include transition(all .3s ease-in-out);
  color: #E83F6F;
  background-color: $color_white;
  border-color: #E83F6F;
  transition: all .3s ease;
}
.btn-danger-outline:hover{
  color: $color_white;
  background-color: #E83F6F;
  border-color: #E83F6F;
  .fa {
    color: $color_white;;
  }
}
.btn-blue {
  @include transition(all .3s ease-in-out);
  color: $color_white;
  background-color: $btn-primary;
  border-color: $btn-primary;
  transition: all .3s ease;
}
.btn-blue:hover{
  color: $btn-primary;
  background-color: $color_white;
  border-color: $color_white;
}
.btn-blue-outline {
  @include transition(all .3s ease-in-out);
  color: $btn-primary;
  background-color: $color_white;
  border-color: $btn-primary;
  transition: all .3s ease;
}
.btn-blue-outline:hover {
  color: $color_white;
  background-color: $btn-primary;
  border-color: $color_white;
}
.btn-warning {
  @include transition(all .3s ease-in-out);
  .fa {
    color: $color_white
  }
}
.btn-gold {
  @include transition(all .3s ease-in-out);
  color: $color_white;
  background-color: $btn-gold;
  border-color: $btn-gold;
}
.btn-gold {
  @include transition(all .3s ease-in-out);
  color: $color_white;
  background-color: $btn-gold;
  border-color: $btn-gold;
}
.btn-gold:hover{
  color: $color_white;
  background-color: $btn-gold-hover;
  border-color: $btn-gold-hover;
}
.btn {
  margin: 3px 0;
}
.btn-contact {
  position: absolute;
  top: 400px;
  left: 15%;
  z-index: 100;
  opacity: 0.8;
  @include transition(all .3s ease-in-out);
}
.btn-contact:hover {
  opacity: 1;
  z-index: 100;
}


