@import 'variables';

.btn.btn-success-outline {
  color:rgba(0,0,0,0.7);
  border:1px solid rgba(0,0,0,0.7);
  transition:all .3s ease;
}
.btn.btn-success-outline:hover {
  color:#FFF;
  background-color:rgba(0,0,0,0.4);
  border:1px solid rgba(0,0,0,0.4);
}
.btn-danger {
  color: $color_white;
  background-color: #E83F6F;
  border-color: #E83F6F;
  transition: all .3s ease;
}
.btn-danger:hover {
  color: $color_white;
  background-color: #C83560;
  border-color: #C83560;
  transition: all .3s ease;
}
.btn-danger-outline {
  color: #E83F6F;
  background-color: $color_white;
  border-color: #E83F6F;
  transition: all .3s ease;
}
.btn-danger-outline:hover{
  color: $color_white;
  background-color: #E83F6F;
  border-color: #E83F6F;
}
.btn-blue {
  color: $color_white;
  background-color: $btn-primary;
  border-color: $btn-primary;
  transition: all .3s ease;
}
.btn-blue:hover{
  color: $btn-primary;
  background-color: $color_white;
  border-color: $color_white;
}
.btn-blue-outline {
  color: $btn-primary;
  background-color: $color_white;
  border-color: $btn-primary;
  transition: all .3s ease;
}
.btn-blue-outline:hover {
  color: $color_white;
  background-color: $btn-primary;
  border-color: $color_white;
}