@import 'variables';
.card {
  border: 0;
  transition: all .3s ease;
  background: $color_white;
  h4.card-title {
    color: $color_blue;
  }
  p {
    color: $color_blue;
  }
}
.fa {
  color: $color_red;
}
.card-header, .card-footer {
  color: $color-sand;
  background-color: $color_blue_light;
}
