@import '../sources/bourbon/bourbon';
@import 'variables';

.card {
  //flex: 0 0 30%;
  //@media (max-width: 1200px) {
  //  flex: 0 0 30%;
  //}
  //@media (max-width: 992px) {
  //  flex: 0 0 40%;
  //}
  //@media (max-width: 768px) {
  //  flex: 0 0 40%;
  //}
  //@media (max-width: 544px) {
  //  flex: 0 0 90%;
  //}
  //border: 0;

  background: rgb(255, 255, 255);
  @include transition(all .2s ease);
  h4.card-title {
    color: $color_blue;
    font-weight: 100;
    font-style: normal;
  }
  p {
    color: $color_blue;
    font-weight: 100;
    font-style: normal;
  }
  &:hover {
    //@include background(linear-gradient(to left, #ece9e6, #fff));
  }
}
.fa {
  color: $color_red;
}
.card-header {
  color: $color-sand;
  background-color: $color_blue_light;
}
.card-footer {
  color: $color-sand;
  background: rgb(255, 255, 255);

  //@include background(linear-gradient(to right, rgba(128, 128, 128, .2), rgba(245, 245, 245, .1)));
}
.shadow {
  -webkit-box-shadow: 0 0 50px -4px rgba(0,0,0,.2);
     -moz-box-shadow: 0 0 50px -4px rgba(0,0,0,.2);
          box-shadow: 0 0 50px -4px rgba(0,0,0,.2);
  transition: all .3s ease;
}
.shadow:hover {
  -webkit-box-shadow: 0 0 50px -4px rgb(0, 0, 0);
     -moz-box-shadow: 0 0 50px -4px rgb(0, 0, 0);
          box-shadow: 0 0 50px -4px rgb(0, 0, 0);
}
.img-fluid {
  width: 100%;

  object-fit: cover;
}
.awesome-background {
  @include background(linear-gradient(to left, #ece9e6, #fff));
}
.refills-cards {
  @include display(flex);
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(space-around);
}

.refills-card {
  position: relative;
  min-width: 300px;
  max-width: 380px;
  margin: 0 $refills-card-margin $base-spacing $refills-card-margin;
  cursor: pointer;
  background-color: $refills-card-background;
  border: $refills-card-border;
  border-radius: $base-border-radius;
  box-shadow: 0 2px 4px darken($base-background-color, 10%);

  @include flex-basis(15em);
  @include flex-grow(1);
  @include transition(all .2s ease-in-out);

  .refills-card-image {
    //height: 300px;
    //max-height: 300px;
    overflow: hidden;
    background-color: $refills-card-image-hover-color;

    img {
      width: 100%;
      opacity: 1;
      transition: all .2s ease-in-out;

      @include image-rendering (crisp-edges);
      @include border-top-radius($base-border-radius);
      object-fit: cover;
    }
  }

  .refills-card-header {
    padding: ($base-spacing / 3) ($base-spacing / 2);
    font-weight: bold;
    line-height: 1.5em;
    background-color: $refills-card-header-background;
    border-bottom: $refills-card-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    transition: all .2s ease-in-out;
  }

  .refills-card-copy {
    padding: ($base-spacing / 2) ($base-spacing / 2);
    font-size: .9em;
    line-height: 1.5em;

    p {
      margin: 0 0 ($base-spacing / 2);
    }
  }

  &:focus,
  &:hover {
    cursor: pointer;

    img {
      opacity: $refills-card-image-hover-opacity;
    }
  }
  &:active {
    background-color: $refills-card-background;

    .refills-card-header {
      background-color: $refills-card-background;
    }
  }
}

.social {
  &-wrapper {
    width: 200px;
  }
  &-link > i {
  margin:0 5px; font-size: 24px;
  }
}

.card-columns {
  column-count: 1;
}

@each $media, $size in (40: 2, 60: 3, 70: 3, 90: 3) {
  @media only screen and (min-width: #{$media}em) {
    .card-columns {
      column-count: $size;
    }
  }
}