@import "../sources/bourbon/bourbon";
@import "variables";

.contact {
  h5 {
    color: $color_blue;
  }
  h4 {
    color: $color_blue;
  }
  p {
    color: $color_blue;
  }
  span {
    font-weight: bold;
    color: $color_red;
  }
}
