@import 'variables';

footer {
  padding-top: 60px;
  padding-bottom: 30px;


background: $color_blue; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, $color_blue , $color_blue_light); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, $color_blue , $color_blue_light); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



//background: #000000; /* fallback for old browsers */
//background: -webkit-linear-gradient(to left, #000000 , #53346D); /* Chrome 10-25, Safari 5.1-6 */
//background: linear-gradient(to left, #000000 , #53346D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  h4 {
    color: $color_red;
  }
  a {
    color: white;
    transition: all .3s ease;
  }
  a:hover {
    color: $color_blue_light;
  }
  .fa {
    display: inline-block;
    margin-left: auto;
    margin-right:auto;
    color: $color_red;
  }
  p {
    color: white;
  }
}