@import 'variables';

footer {
  padding-top: 60px;
  padding-bottom: 30px;
  background: -webkit-linear-gradient(left top, $color_blue , $color_blue_light);
  background: -o-linear-gradient(bottom right, $color_blue, $color_blue_light);
  background: -moz-linear-gradient(bottom right, $color_blue, $color_blue_light);
  background: linear-gradient(to bottom right, $color_blue , $color_blue_light);
  h4 {
    color: $color_red;
  }
  a {
    color: white;
    transition: all .3s ease;
  }
  a:hover {
    color: $color_blue_light;
  }
  .fa {
    display: inline-block;
    margin-left: auto;
    margin-right:auto;
    color: $color_red;
  }
  p {
    color: white;
  }
}