@import 'variables';

.form-control {
  border-color: $color_sand;
  transition: all .3s ease;
}
.form-control:hover {
  border-color: $color_blue_light;
}
.form-control:focus {
  border-color: $color_blue_light;
}
.form-control:active {
  border-color: $color_blue_light;
}
select.form-language {
  margin-bottom: 8px;
  height: 37px;
  width: 152px;
  color: darkgoldenrod;
  border: 1px solid darkgoldenrod;

}