@import 'variables';

.form-control {
  border-color: $color_sand;
  transition: all .3s ease;
}
.form-control:hover {
  border-color: $color_blue_light;
}
.form-control:focus {
  border-color: $color_blue_light;
}
.form-control:active {
  border-color: $color_blue_light;
}