@import "../sources/bourbon/bourbon";
@import "variables";

.fa {
  opacity: .7;
  transition: all .3s ease;
}
.fa:hover {
  opacity: 1;
}
.social {
  display: flex;
  width: 200px;
  height: 63px;

  justify-content: center;
  align-items: center;
}
.fa.fa-user {
  font-size: 22px;
  color: aliceblue;
}
.logo-container {
  display: flex;
  height: 200px;
  flex-direction: row;

  align-items: center;
  justify-content: center;
  .fa.fa-user {
    font-size: 180px;
    color: $color_blue_light;
  }
}
