@import 'variables';

.navbar {
  border-radius:0;
  background-color:$color_blue_light;
  transition:all .3s ease;
   outline: 0;


}
.navbar:hover {
  background-color:rgba(2,117,216,1);
}
.navbar-collapse {
  background-color: rgba(240, 248, 255, 0.8);
}
.dropdown-menu {
  margin-top: 8px;
  a {
    color: $color-blue
  }
}


ol.nav.navbar-nav>{
  li>a.nav-link {
    color: gold;
    transition: all .3s ease;
  }
  li>a.nav-link:hover, div.btn-group>a:hover{
    color: darkgoldenrod;
  }

  a.hidden-sm-down.nav-link.dropdown-toggle {
    color: gold;
    transition: all .3s ease;}

}

.navbar-toggler {
   color: gold;
    transition: all .3s ease;;
}

.navbar-toggler:hover {
   color: darkgoldenrod;
}

