@import 'variables';

.navbar {
  border-radius:0;
  background-color:$color_blue_light;
  transition:all .3s ease;
  a {
    color: $color_sand;
  }
}
.navbar:hover {
  background-color:rgba(2,117,216,1);
}
.navbar-collapse {
  background-color: rgba(240, 248, 255, 0.8);
}
.dropdown-menu {
  margin-top: 8px;
  a {
    color: $color-blue
  }
}
