@import 'variables';

section {
  background: linear-gradient(80deg, $color_sand, $color_white);
  padding-top: 100px;
  padding-bottom: 100px;
}
article {
  transition: all .5s ease;
}
article.tours {
  background-color: $color_sand;
}

.form-box {max-width: 330px;
    display: block;
    margin: 0 auto;}
