@import "../sources/bourbon/bourbon";
@import "variables";

.type {
  padding: 30px 30px 30px 30px;
  font-family: 'HelveticaNeueCyr-Light', sans-serif;
  font-weight: 100;
  color: #fff;
  background: rgba(184, 134, 11, .3);
  transition: all .3s ease;
}
.type:hover {
  background: rgba(184, 134, 11, .7);
}

.blockquote {
  border-left: .25rem solid $color-blue-light;
}
.main-header {
  position: absolute;
  top: 180px;
  left: 15%;
  border-radius: 7px;
}
