@import 'variables';

.type {
  background: rgba(184, 134, 11, 0.3);
  color: #fff;
  font-family: 'HelveticaNeueCyr-Light', sans-serif;
  font-weight: 100;
  transition: all .3s ease;
  padding: 30px 30px 30px 30px;
}
.type:hover {
  background:rgba(184, 134, 11, 0.7);
}

.blockquote {

    border-left: .25rem solid $color-blue-light;
}
//.display-3 {
//  display: inline-block;
//  background: rgba(0,0,0,0.3);
//  color: #fff;
//  font-family: HelveticaNeueCyr-Roman, sans-serif;
//  font-weight: bolder;
//  transition: all .3s ease;
//  padding: 60px 70px;
//  border: 1px solid white;
//}
//.display-3:hover {
//  background:rgba(0,0,0,0.4);
//}