$color_blue_light:         #118DF0;
$color_blue:               #0E2F56;
$color_sand:               #ffefd5;
$color_red:                #FF304F;
$color_white:              #FFF;

$color_red_opacity:        rgba(255, 48, 79, 0.7);


$btn-primary:              #2274A5;
$btn-primary-hover:        #0474a5;
$btn-info:                 #118DF0;
$btn-info-hover:           #008df0;
$btn-danger:               #E83F6F;
$btn-danger-hover:         #CA3863;
$btn-warning:              #FFBF00;
$btn-warning-hover:        #FFBF00;
$btn-success:              #32936f;
$btn-success-hover:        #14936f;
$btn-gold:                 #ffd700;
$btn-gold-hover:           #b8860b;
