{% load i18n %}
<h4 class="text-md-center text-sm-center text-xs-center">{% trans 'Contact Us' %}</h4>
<ol class="list-unstyled">
    <li class="text-md-center text-sm-center text-xs-center">
        <a href="#">{% trans 'Follow on ' %} Twitter <i class="fa fa-twitter"></i></a>
    </li>
    <li class="text-md-center text-sm-center text-xs-center">
        <a href="#">{% trans 'Follow on ' %} Facebook <i class="fa fa-facebook"></i></a>
    </li>
    <li class="text-md-center text-sm-center text-xs-center">
        <a href="#">{% trans 'Follow on ' %} Google + <i class="fa fa-google-plus"></i></a>
    </li>
    <li class="text-md-center text-sm-center text-xs-center">
        <a href="#">{% trans 'Follow on ' %} Instagram <i class="fa fa-instagram"></i></a>
    </li>
    <li class="text-md-center text-sm-center text-xs-center">
        <a href="#">{% trans 'Email me' %} <i class="fa fa-mail-forward"></i></a>
    </li>
</ol>