{% extends 'accounts/auth_base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }}Password Change{% endblock %}
{% block form_heading %}Password Change{% endblock %}
{% block form %}
    <form method="post" action="{{ request.get_full_path }}">
        {% csrf_token %}
        <div id="div_id_new_password1" class="form-group">
            <label for="id_new_password1" class="control-label  requiredField">
                New password<span class="asteriskField">*</span>
            </label>
            <div class="controls">
                <input autofocus="" class="textinput textInput form-control" id="id_new_password1" name="new_password1"
                       placeholder="Enter new password" type="password"/>
            </div>
        </div>
        <div id="div_id_new_password2" class="form-group">
            <label for="id_new_password2" class="control-label  requiredField">
                New password confirmation<span class="asteriskField">*</span>
            </label>
            <div class="controls">
                <input class="textinput textInput form-control" id="id_new_password2" name="new_password2"
                       placeholder="Enter new password (again)" type="password"/>
            </div>
        </div>
        <input type="submit"
               name="pass_change"
               value="Change Password"
               class="btn btn-primary btn-warning"
               id="submit-id-pass_change"/>
    </form>
{% endblock form %}

