{% extends 'accounts/auth_base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }}Password Reset{% endblock %}
{% block form_heading %}Password Reset{% endblock %}
{% block form %}
    <form method="post" action="{{ request.get_full_path }}">
        {% csrf_token %}
        <div id="div_id_email" class="form-group">
            <label for="id_email" class="control-label  requiredField">
                Email<span class="asteriskField">*</span>
            </label>
            <div class="controls ">
                <input autofocus="" class="emailinput form-control" id="id_email" maxlength="254"
                       name="email" placeholder="Enter email" type="email"/></div>
        </div>
        <input type="submit"
               name="pass_reset"
               value="Reset Password"
               class="btn btn-primary btn-warning"
               id="submit-id-pass_reset"/>
    </form>
{% endblock form %}

