{% extends 'accounts/auth_base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }}Sign Up{% endblock %}
{% block form_heading %}Signing Up is Free{% endblock %}
{% block form %}
    <form method="post" action="{{ request.get_full_path }}?next=/">
        {% csrf_token %}
        <div id="div_id_email" class="form-group"><label for="id_email" class="control-label  requiredField">
            Email address<span class="asteriskField">*</span> </label>
            <div class="controls"><input autofocus="" class="emailinput form-control" id="id_email" maxlength="255"
                                          name="email" placeholder="Enter Email" type="email"/></div>
        </div>
        <div id="div_id_name" class="form-group"><label for="id_name" class="control-label  requiredField">
            Name<span class="asteriskField">*</span> </label>
            <div class="controls"><input class="textinput textInput form-control" id="id_name" maxlength="255"
                                          name="name" placeholder="Enter Full Name" type="text"/></div>
        </div>
        <div id="div_id_password1" class="form-group"><label for="id_password1" class="control-label  requiredField">
            Password<span class="asteriskField">*</span> </label>
            <div class="controls"><input class="textinput textInput form-control" id="id_password1" name="password1"
                                          placeholder="Enter Password" type="password"/></div>
        </div>
        <div id="div_id_password2" class="form-group"><label for="id_password2" class="control-label  requiredField">
            Password confirmation<span class="asteriskField">*</span> </label>
            <div class="controls"><input class="textinput textInput form-control" id="id_password2" name="password2"
                                          placeholder="Re-enter Password" type="password"/>
                <p id="hint_id_password2" class="help-block">Enter the same password as above, for verification.</p>
            </div>
        </div>
        <input type="submit"
               name="sign_up"
               value="Sign up"

               class="btn btn-primary btn-warning"
               id="submit-id-sign_up"/>
    </form>
    <div class="form-message">
        <p>Already signed up? <a href="{% url 'accounts:login' %}">Log in</a>.</p>
    </div>
{% endblock form %}

