@import 'scss/alerts';
@import 'scss/breadcrumbs';
@import 'scss/button';
@import 'scss/md-button';
@import 'scss/contact';
@import 'scss/card';
@import 'scss/icons';
@import 'scss/fonts';
@import 'scss/footer';
@import 'scss/forms';
@import 'scss/general';
@import 'scss/typography';
@import 'scss/pagination';
@import 'scss/nav';
@import 'scss/section';
@import 'scss/variables';
@import 'scss/bourbon/bourbon';


.img {
display:flex;
flex-direction:row;
align-items:center;
min-height:600px;
}
.img:after {
opacity:0.5;
}

@media all and (max-width: 1000px) { /* screen size until 1000px */
    .display-3 {
        font-size: 3.2em;
        text-align: center;
        }
    }
@media all and (max-width: 500px) { /* screen size until 500px */
    .display-3 {
        font-size: 2.8em;
        text-align: center;
        }
    }


.my-label {
  padding-top: 10px;
  padding-bottom: 10px;
  color: $color_red;
}

.details {
    padding-top: 90px;
    padding-bottom: 120px;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
p.goldenlisbon {
  font-size: 19px;
  color: darkgoldenrod;
  display: inline-block;
  padding-top: 10px;
  position: relative;
  left: 40%;
  margin-bottom: 0;
  padding-bottom: 11px;
  transition: all .3s ease;
  z-index: 7000;

}
p.goldenlisbon:hover {
  color:darkgoldenrod !important;

}
.modal {
  z-index: 9999;
}

.player {
  position: absolute;
  display: block;
  z-index: 9999;
  right:0;
  opacity: 0.4;
  @include transition(all .3s ease-in-out);
}

.player:hover {
  opacity: 1;
}

//.my-accordion {
//  $base-border-color: gainsboro !default;
//  $base-line-height: 1.5em !default;
//  $base-spacing: 1.5em !default;
//  $dark-gray: #333 !default;
//  $base-font-color: $dark-gray !default;
//  $accordion-menu-border-color: $base-border-color;
//  $accordion-menu-color: $base-font-color;
//  $accordion-menu-border: 1px solid $accordion-menu-border-color;
//  $accordion-menu-background: lighten($accordion-menu-border-color, 10%);
//  $accordion-menu-hover: lighten($accordion-menu-background, 2%);
//  $accordion-menu-sub-background: darken($accordion-menu-background, 5%);
//  $accordion-menu-sub-inset: darken($accordion-menu-sub-background, 6%);
//  $accordion-menu-sub-hover: lighten($accordion-menu-sub-background, 2%);
//  $accordion-menu-list-padding: ($base-spacing / 2) $gutter;
//
//  background-color: $accordion-menu-background;
//  border: $accordion-menu-border;
//  margin: 0 0 $base-spacing 0;
//  padding: 0;
//
//  ul {
//    margin: 0;
//    padding: 0;
//  }
//
//  li {
//    border-bottom: $accordion-menu-border;
//    list-style: none;
//
//    > a {
//      color: $accordion-menu-color;
//      display: block;
//      padding: $accordion-menu-list-padding;
//      text-decoration: none;
//    }
//
//    &:last-child {
//      border: 0;
//    }
//
//    &:focus,
//    &:hover {
//      background-color: $accordion-menu-hover;
//    }
//  }
//
//  ul.submenu {
//    display: none;
//
//    li {
//      background-color: $accordion-menu-sub-background;
//
//      &:first-child {
//        border-top: $accordion-menu-border;
//        box-shadow: inset 0 1px 1px $accordion-menu-sub-inset;
//      }
//
//      &:focus,
//      &:hover {
//        background-color: $accordion-menu-sub-hover;
//      }
//    }
//  }
//
//  .is-expanded {
//    display: block;
//    padding-bottom: 0;
//  }
//}

input.btn.btn-lg.btn-primary.form-control {
  border: none !important;
}

.js-accordion-trigger:hover .fa.fa-chevron-down,
.js-accordion-trigger:focus .fa.fa-chevron-down,
.js-accordion-trigger:visited .fa.fa-chevron-down,
.js-accordion-trigger:active .fa.fa-chevron-down{
  color: transparentize($footer-color, 0);
}


