.alert {
  margin-bottom: 0; }

.breadcrumb {
  width: 100%;
  height: 50px;
  position: absolute;
  margin-bottom: 0;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.7);
  transition: all .5s ease;
  z-index: 9000; }

.breadcrumb:hover {
  color: darkgoldenrod;
  background-color: white; }

.btn-group.pull-right {
  z-index: 9999; }

.open > .dropdown-menu {
  z-index: 9999;
  display: block; }

ol.breadcrumb > li > a {
  color: darkgoldenrod;
  transition: all .5s ease; }

.btn.btn-success-outline {
  color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.7);
  transition: all .3s ease; }

.btn.btn-success-outline:hover {
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.4); }

.btn-danger {
  color: #FFF;
  background-color: #E83F6F;
  border-color: #E83F6F;
  transition: all .3s ease; }

.btn-danger:hover {
  color: #FFF;
  background-color: #C83560;
  border-color: #C83560;
  transition: all .3s ease; }

.btn-danger-outline {
  color: #E83F6F;
  background-color: #FFF;
  border-color: #E83F6F;
  transition: all .3s ease; }

.btn-danger-outline:hover {
  color: #FFF;
  background-color: #E83F6F;
  border-color: #E83F6F; }
  .btn-danger-outline:hover .fa {
    color: #FFF; }

.btn-blue {
  color: #FFF;
  background-color: #2274A5;
  border-color: #2274A5;
  transition: all .3s ease; }

.btn-blue:hover {
  color: #2274A5;
  background-color: #FFF;
  border-color: #FFF; }

.btn-blue-outline {
  color: #2274A5;
  background-color: #FFF;
  border-color: #2274A5;
  transition: all .3s ease; }

.btn-blue-outline:hover {
  color: #FFF;
  background-color: #2274A5;
  border-color: #FFF; }

.btn-warning .fa {
  color: #FFF; }

.contact h5 {
  color: #0E2F56; }
.contact h4 {
  color: #0E2F56; }
.contact p {
  color: #0E2F56; }
.contact span {
  color: #FF304F;
  font-weight: bold; }

.card {
  border: 0;
  transition: all .3s ease;
  background: #FFF; }
  .card h4.card-title {
    color: #0E2F56; }
  .card p {
    color: #0E2F56; }

.fa {
  color: #FF304F; }

.card-header, .card-footer {
  color: #ffefd5;
  background-color: #118DF0; }

.fa {
  opacity: 0.7;
  transition: all .3s ease; }

.fa:hover {
  opacity: 1; }

.social {
  justify-content: center;
  align-items: center;
  width: 200px;
  display: flex;
  height: 63px; }

.fa.fa-user {
  font-size: 22px;
  color: aliceblue; }

.logo-container {
  display: flex;
  flex-direction: row;
  height: 200px;
  align-items: center;
  justify-content: center; }
  .logo-container .fa.fa-user {
    font-size: 180px;
    color: #118DF0; }

@font-face {
  font-family: 'HelveticaNeueCyr-Light';
  font-style: normal;
  font-weight: normal;
  src: local("HelveticaNeueCyr-Light"), url("../fonts/HelveticaNeueCyr-Light.woff") format("woff"); }
@font-face {
  font-family: 'HelveticaNeueCyr-Roman';
  font-style: normal;
  font-weight: normal;
  src: local("HelveticaNeueCyr-Roman"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"); }
@font-face {
  font-family: 'HelveticaNeueCyr-UltraLight';
  font-style: normal;
  font-weight: normal;
  src: local("HelveticaNeueCyr-UltraLight"), url("../fonts/HelveticaNeueCyr-UltraLight.woff") format("woff"); }
footer {
  padding-top: 60px;
  padding-bottom: 30px;
  background: #0E2F56; }
  footer h4 {
    color: #FF304F; }
  footer a {
    color: white;
    transition: all .3s ease; }
  footer a:hover {
    color: #118DF0; }
  footer .fa {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    color: #FF304F; }
  footer p {
    color: white; }

.form-control {
  border-color: #ffefd5;
  transition: all .3s ease; }

.form-control:hover {
  border-color: #118DF0; }

.form-control:focus {
  border-color: #118DF0; }

.form-control:active {
  border-color: #118DF0; }

select.form-language {
  margin-bottom: 8px;
  height: 37px;
  width: 152px;
  color: #5bc0de;
  border: 1px solid #5bc0de; }

body {
  font-family: 'HelveticaNeueCyr-Light', sans-serif;
  color: #0E2F56; }

.type {
  background: rgba(184, 134, 11, 0.3);
  color: #fff;
  font-family: 'HelveticaNeueCyr-Light', sans-serif;
  font-weight: 100;
  transition: all .3s ease;
  padding: 30px 30px 30px 30px; }

.type:hover {
  background: rgba(184, 134, 11, 0.7); }

.blockquote {
  border-left: 0.25rem solid #118DF0; }

.pager {
  color: #0E2F56; }

.navbar {
  border-radius: 0;
  background-color: #118DF0;
  transition: all .3s ease; }

.navbar:hover {
  background-color: #0275d8; }

.navbar-collapse {
  background-color: rgba(240, 248, 255, 0.8); }

.dropdown-menu {
  margin-top: 8px; }
  .dropdown-menu a {
    color: #0E2F56; }

ol.nav.navbar-nav > li > a.nav-link {
  color: gold;
  transition: all .3s ease; }
ol.nav.navbar-nav > li > a.nav-link:hover, ol.nav.navbar-nav > div.btn-group > a:hover {
  color: darkgoldenrod; }
ol.nav.navbar-nav > a.hidden-sm-down.nav-link.dropdown-toggle {
  color: gold;
  transition: all .3s ease; }

.navbar-toggler {
  color: gold;
  transition: all .3s ease; }

.navbar-toggler:hover {
  color: darkgoldenrod; }

section {
  background-color: #ffefd5;
  padding-top: 100px;
  padding-bottom: 100px; }

article {
  transition: all .5s ease; }

article.tours {
  background-color: #ffefd5; }

.form-box {
  max-width: 330px;
  display: block;
  margin: 0 auto; }

.img {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 600px; }

.img:after {
  opacity: 0.5; }

.my-label {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #FF304F; }

.offer {
  background: papayawhip;
  min-height: 500px; }

.details {
  padding-top: 90px;
  padding-bottom: 120px; }

/*# sourceMappingURL=styles.css.map */
