@import 'scss/alerts';
@import 'scss/breadcrumbs';
@import 'scss/button';
@import 'scss/contact';
@import 'scss/card';
@import 'scss/icons';
@import 'scss/fonts';
@import 'scss/footer';
@import 'scss/forms';
@import 'scss/general';
@import 'scss/typography';
@import 'scss/pagination';
@import 'scss/nav';
@import 'scss/section';
@import 'scss/variables';


.img {
display:flex;
flex-direction:row;
align-items:center;
min-height:600px;
}
.img:after {
opacity:0.5;
}



.my-label {
  padding-top: 10px;
  padding-bottom: 10px;
  color: $color_red;
}
.offer {
    background: papayawhip;
    min-height: 500px;

}

.details {
    padding-top: 90px;
    padding-bottom: 120px;
}
