<ol class="breadcrumb">
    {% if breadcrumbs_list %}
        {% for breadcrumb in breadcrumbs_list %}
            {% if breadcrumb.active %}
                <li class="active">{{ breadcrumb.name }}</li>
            {% else %}
                <li><a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a></li>
            {%  endif %}
        {% endfor %}
        {% else %}
            <li><a href="/">Home</a></li>
    {% endif %}
</ol>
<div class="btn-group pull-right" style="margin-top: 10px; margin-right: 20px">
    {% include 'templates/_languages.html' %}
</div>
