{% load i18n %}
<ol class="breadcrumb">
    {% if breadcrumbs %}
        {% for breadcrumb in breadcrumbs %}
            {% if breadcrumb.active %}
                <li class="active">{{ breadcrumb.name }}</li>
            {% else %}
                <li><a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a></li>
            {%  endif %}
        {% endfor %}
        {% else %}
        <li><a href="/">{% trans 'Home' %}</a></li>
    {% endif %}
</ol>
<p class="goldenlisbon">GOLDENLISBON.COM</p>
<div class="btn-group pull-right" style="margin-top: 13px;
    margin-right: 31px;">
    {% include 'templates/_languages.html' %}
</div>