{% extends 'base.html' %}
{% block content %}
    {% load staticfiles %}
    {% include 'templates/_breadcrumbs.html' %}
    <section class="details">
        <div class="container">
            <h4 class="display-4">{{ title }}</h4>
            <div class="row">
                <div class="col-md-6">
                    <div class="card-block">
                    {% if contact.img %}
                        <img style="max-height: 500px;   object-fit: cover;" class="img-fluid" src="{% static '/media/' %}{{ contact.img }}" alt="" width="100%">
                    {% else %}
                        <span class="fa fa-user"></span>
                    {% endif %}
                    <small><em>SHORT BIO:</em></small>
                    <p class="card-text"> {{ contact.short_bio}}</p>

                    </div>
                </div>
                <div class="col-md-6">
                <small><em>CATEGORY:</em></small>
                <p class="card-text"> {{ contact.category}}</p>

                <small><em>CALL ME:</em></small>
            {% if contact.mobile  %}
                <p class="card-text"><span class="fa fa-mobile"></span> {{ contact.mobile }}</p>
            {% endif %}


            {% if contact.email  %}
                <p class="card-text"><span class="fa fa-mail-forward"></span> {{ contact.email }}</p>
            {% endif %}


            {% if contact.whatsapp  %}
                <p class="card-text"><span class="fa fa-whatsapp"></span> {{ contact.whatsapp }}</p>
            {% endif %}


            {% if contact.viber  %}
                <p class="card-text"><span>viber:</span> {{ contact.viber }}</p>
            {% endif %}


            {% if contact.telegram  %}
                <p class="card-text"><span>telegram: </span>{{ contact.telegram }}</p>
            {% endif %}


            {% if contact.skype  %}
                <p class="card-text"><span class="fa fa-skype"></span> {{ contact.skype }}</p>
            {% endif %}

                <small><em>SOCIAL NETWORKS:</em></small>


            {% if contact.facebook  %}
                <p><a class="card-link" href="{{ contact.facebook }}">Follow on Facebook <span class="fa fa-facebook"></span></a></p>
            {% endif %}


            {% if contact.twitter  %}
                <p><a class="card-link" href="{{ contact.twitter }}">Follow on Twitter <span class="fa fa-twitter"></span></a></p>
            {% endif %}


            {% if contact.pinterest  %}
                <p><a class="card-link" href="{{ contact.pinterest }}">Follow on Pinterest <span class="fa fa-pinterest"></span></a></p>
            {% endif %}


            {% if contact.instagram  %}
                <p><a class="card-link" href="{{ contact.instagram }}">Follow on Instagram <span class="fa fa-instagram"></span></a></p>
            {% endif %}


            {% if contact.google  %}
                <p><a class="card-link" href="{{ contact.google }}">Follow on Google + <span class="fa fa-google-plus"></span></a></p>
        {% endif %}
            {% if user.is_staff or user.is_superuser %}
                <a class="btn btn-sm btn-danger-outline" href="/contacts/{{ contact.id }}/delete/">
                    <i class="fa fa-trash"></i> Delete</a>
                <a class="btn btn-sm btn-danger-outline" href="/contacts/{{ contact.id }}/edit/">
                    <i class="fa fa-pencil-square-o"></i> Edit</a>
            {% endif %}



                    {% include 'templates/_share.html' %}

                </div>
            </div>
        </div>
    </section>
{% endblock %}