{% load thumbnail %}
{% load i18n %}
<div class="card">
        <div class="card-block">
            <h4 class="card-title">{{ object.first_name }}</h4>
            <h6 class="card-subtitle text-muted">{{ object.last_name }}</h6>
        </div>
    {% if object.img  %}
        <a href="{{ request.path }}{{ object.id }}"><img class="img-fluid" src="{% thumbnail object.img 720x480 crop="smart" %}" alt="{{ object.last_name }} {{ object.first_name }}"></a>
    {% else %}
        <p style="text-align: center"><small><em>{% trans 'place for image' %}</em></small></p>
    {% endif %}
        <div class="card-block">
        <small><em class="text-uppercase">{% trans 'category' %}:</em></small>
            <p class="card-text">{{ object.category }}</p>
        {% if  object.short_bio_preview %}
            <small><em class="text-uppercase">{% trans 'short bio' %}:</em></small>
            {% if object.short_bio  %}
                <p class="card-text"> {{ object.short_bio|truncatechars:100}}</p>
            {% endif %}
        {% endif %}
        <small><em class="text-uppercase">{% trans 'CALL ME' %}:</em></small>
        {% if  object.mobile_preview %}
            {% if object.mobile  %}
                <p class="card-text"><span class="fa fa-mobile"></span> {{ object.mobile }}</p>
            {% endif %}
        {% endif %}
        {% if  object.email_preview %}
            {% if object.email  %}
                <p class="card-text"><span class="fa fa-mail-forward"></span> {{ object.email }}</p>
            {% endif %}
        {% endif %}
        {% if  object.whatsapp_preview %}
            {% if object.whatsapp  %}
                <p class="card-text"><span class="fa fa-whatsapp"></span> {{ object.whatsapp }}</p>
            {% endif %}
        {% endif %}
        {% if  object.viber_preview %}
            {% if object.viber  %}
                <p class="card-text"><span>viber:</span> {{ object.viber }}</p>
            {% endif %}
        {% endif %}
        {% if  object.telegram_preview %}
            {% if object.telegram  %}
                <p class="card-text"><span>telegram: </span>{{ object.telegram }}</p>
            {% endif %}
        {% endif %}
        {% if  object.skype_preview %}
            {% if object.skype  %}
                <p class="card-text"><span class="fa fa-skype"></span> {{ object.skype }}</p>
            {% endif %}
        {% endif %}
        <small><em class="text-uppercase">{% trans 'social networks' %}:</em></small>
        {% if  object.facebook_preview %}
            {% if object.facebook  %}
                <p><a class="card-link" href="{{ object.facebook }}">{% trans 'Follow on ' %} Facebook <span class="fa fa-facebook"></span></a></p>
            {% endif %}
        {% endif %}
        {% if  object.twitter_preview %}
            {% if object.twitter  %}
                <p><a class="card-link" href="{{ object.twitter }}">{% trans 'Follow on ' %} Twitter <span class="fa fa-twitter"></span></a></p>
            {% endif %}
        {% endif %}
        {% if  object.pinterest_preview %}
            {% if object.pinterest  %}
                <p><a class="card-link" href="{{ object.pinterest }}">{% trans 'Follow on ' %} Pinterest <span class="fa fa-pinterest"></span></a></p>
            {% endif %}
        {% endif %}
        {% if  object.instagram_preview %}
            {% if object.instagram  %}
                <p><a class="card-link" href="{{ object.instagram }}">{% trans 'Follow on ' %} Instagram <span class="fa fa-instagram"></span></a></p>
            {% endif %}
        {% endif %}
        {% if  object.google_preview %}
            {% if object.google  %}
                <p><a class="card-link" href="{{ object.google }}">{% trans 'Follow on ' %}Google + <span class="fa fa-google-plus"></span></a></p>
            {% endif %}
        {% endif %}
            {% if user.is_staff or user.is_superuser %}
                <a type="button" class="btn btn-sm btn-danger-outline" onclick="delete_contact({{ object.id }})" data-toggle="modal" data-target=".bd-example-modal-sm"><i class="fa fa-trash"></i> {% trans 'Delete' %}</a></a>
                <a class="btn btn-sm btn-danger-outline" href="{{ request.path }}{{ object.id }}/edit/">
                    <i class="fa fa-pencil-square-o"></i> {% trans 'Edit' %}</a>
            {% endif %}
        <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">{% trans 'Contact delete' %}</h4>
                    </div>
                    <div class="modal-body">
                    <div class="modal-body">
                        <h4>{% trans 'Are you sure to delete Contact' %}</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
                        <button type="button" class="btn btn-danger" onclick="confirm()">{% trans 'Delete' %}</button>
                    </div>
                </div>
            </div>
                </div>
        </div>
            <script>
                var _id = '';
                function delete_contact(id){_id = id}
                function confirm (){window.location.pathname = '{{ request.path }}' + _id + '/delete/'}
            </script>
        </div>
    </div>