{% load i18n %}

{% if not 'related-links' in request.path %}
    <p>{% include 'templates/buttons/_details.html' %}</p>
{% else %}
{% endif %}
{% if user.is_staff or user.is_superuser %}
    <a class="btn btn-sm btn-danger-outline" href="{{ object.get_absolute_url }}delete/">
        <i class="fa fa-trash"></i> {% trans 'Delete' %}</a>
    <a class="btn btn-sm btn-danger-outline" href="{{ object.get_absolute_url }}edit/">
        <i class="fa fa-pencil-square-o"></i> {% trans 'Edit' %}</a>
{% endif %}