{% load i18n %}
{% load thumbnail %}
<footer class="footer">
    <div class="footer-logo">
{#        <img src="http://www.e-allmoney.ru/capitals/eur/arm/Lissabon.png">#}
        {% if footer.icon %}<img src="{% thumbnail footer.icon 720x480  %}" alt="">{% else %}{% endif %}
    </div>
    <div class="container">
        <div class="col-xs-12 sol-sm-12 col-md-4 col-lg-4">
            <div class="div-li"><h3>{% trans 'Contact Us' %}</h3></div>
            <div class="div-li"><a><i class="fa fa-skype"></i> marian.danici</a></div>
            <div class="div-li"><a><i class="fa fa-mobile"></i> +(351) 96-71-55-113</a></div>
            <div class="div-li"><a><i class="fa fa-whatsapp"></i> +(351) 96-71-55-113</a></div>
            <div class="div-li"><a><span>viber:</span> +(351) 96-71-55-113</a></div>
            <div class="div-li"><a><i class="fa fa-mail-forward"></i>  exlisbon@gmail.com</a></div>
        </div>
        <div class="col-xs-12 sol-sm-12 col-md-4 col-lg-4">
            <div class="div-li"><h3>{% trans 'Site Map' %}</h3></div>
            <div class="div-li"><a href="{% url 'home' %}">{% trans 'Home' %}</a></div>
            <div class="div-li">
                <a href="javascript:void(0)" class="js-accordion-trigger">{% trans 'Tours & Excursions' %} <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                <div class="submenu" style="display: none;">
                <div class="div-li">
                    <a href="{% url 'tour:list' %}"><em>{% trans 'full tour list' %}</em></a>
                </div>
                    {% if nav.tour_categories_list %}
                        {% for tour in nav.tour_categories_list %}
                            <div class="div-li"><em><a href="{{ tour.get_absolute_url }}">{{ tour.category }}</a></em></div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="div-li">
                    <a href="javascript:void(0)" class="js-accordion-trigger">{% trans 'Offers' %} <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                    <div class="submenu" style="display: none;">
                    <div class="div-li">
                    <a href="{% url 'offer:list' %}"><em>{% trans 'full offer list' %}</em></a>
                </div>
                        {% if nav.offer_categories_list %}
                            {% for offer in nav.offer_categories_list %}
                                <div class="div-li"><em><a href="{% if 'car' in offer.get_absolute_url  %}{% url 'rent_car:list' %}{% else %}{% if 'hotel' in offer.get_absolute_url %}{% url 'rent_hotel:list' %}{% else %}{{ offer.get_absolute_url }}{% endif %}{% endif %}">{{ offer.category }} </a></em></div>
                            {% endfor %}
                        {% endif %}
                    </div>
            </div>
            <div class="div-li"><a href="{% url 'review:list' %}">{% trans 'Reviews' %}</a></div>
            <div class="div-li"><a href="{% url 'gallery:list' %}">{% trans 'Gallery' %}</a></div>
            <div class="div-li"><a href="{% url 'rent_car:list' %}">{% trans 'Car Rent in Lisbon' %}</a></div>
            <div class="div-li"><a href="{% url 'rent_hotel:list' %}">{% trans 'Hotels in Lisbon' %}</a></div>
            <div class="div-li"><a href="{% url 'about' %}">{% trans 'About Us' %}</a></div>
            <div class="div-li"><a href="{% url 'contact:list' %}">{% trans 'Contacts' %}</a></div>
            <div class="div-li"><a href="{% url 'related_links:list' %}">{% trans 'Related links' %}</a></div>
            <div class="div-li"><a href="{% url 'news:list' %}">{% trans 'News' %}</a></div>
        </div>
        <div class="col-xs-12 sol-sm-12 col-md-4 col-lg-4">
            <div class="div-li"><h3>{% trans 'Follow Us' %}</h3></div>
            <div class="div-li"><a href="#">Twitter <i class="fa fa-twitter"></i></a></div>
            <div class="div-li"><a href="#">Facebook <i class="fa fa-facebook"></i></a></div>
            <div class="div-li"><a href="#">Google + <i class="fa fa-google-plus"></i></a></div>
            <div class="div-li"><a href="#">Instagram <i class="fa fa-instagram"></i></a></div>
            <div class="div-li"><a data-toggle="modal" data-target="#contactUs">{% trans 'Email me' %} <i class="fa fa-mail-forward"></i></a></div>
        </div>
        <div class="col-md-12 sol-sm-12 col-md-12 col-lg-12">
            <div class="div-li">{%  include 'templates/_languages_footer.html' %}</div>
        </div>
    </div>
    <hr>
    <div class="col-md-12 sol-sm-12 col-md-12 col-lg-12">
        <div class="div-li">
            <h3>{% trans 'About' %}</h3>
        </div>
        <div class="div-li">
            <p>{{ footer.about }}</p>
        </div>
    </div>
    <hr>
    <p style="padding-top: 50px; text-align: center">{% trans 'All Original Content' %} © 2015-{% now 'Y' %} {{ company }}, {% trans 'All Rights Reserved' %}</p>
</footer>
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Organization",
  "url" : "http://www.goldenlisbon.com",
  "contactPoint" : [{
    "@type" : "ContactPoint",
    "telephone" : "+351 967155113",
    "contactType" : "customer service"
  }]
}
</script>
{% if contact_me %}


{% include 'templates/modal/_contact_us.html' %}
{% endif %}