{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <nav>
        {% include 'templates/_breadcrumbs.html' %}
    </nav>
    <section>
        <div class="container">
            <h4 class="display-4">{{ title }}</h4>
            <form method="POST" action="{{ request.get_full_path }}" enctype="multipart/form-data">{% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-lg btn-primary" value="{{ value }}" />
            </form>
        </div>
    </section>
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
    <script>
        _.map(['textarea', 'input', 'label', 'select'], function(el){
                    el === 'label' && $(el).attr('type') !== 'submit'
                            ? $(el).addClass('my-label')
                            : $(el).addClass('form-control');
                });
            $('select').css('height', '40px');

            const datePicker = $('#id_created_on');
            if (datePicker !== null || datePicker !== undefined) {
                datePicker.datepicker();
            }
    </script>

    <script>
    _.map(['#id_description_PT', '#id_description_EN', '#id_description_DE'], function(element) {
        tinymce.init({ selector: element })
    })
    </script>
{% endblock %}