{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <nav>
        {% include 'templates/_breadcrumbs.html' %}
    </nav>
    <section>
    <div class="container">
        <h4 class="display-4">{{ title }}</h4>
{#        <div text-angular ng-model="htmlVariable"></div>#}
        <form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
            {{ form.as_p }}
            <input type='submit' class='btn btn-lg btn-primary' value='{{ value }}' />
        </form>
    </div>
    </section>
    <script>
    _.map(['textarea', 'input', 'label', 'select'], function(el){
                el === 'label' && $(el).attr('type') !== 'submit' ? $(el).addClass('my-label') : $(el).addClass('form-control');
            });
        $('select').css('height', '40px')
    </script>
{% endblock %}