{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    {% load staticfiles %}
    {% include 'templates/_breadcrumbs.html' %}
    <section class="details">
        <div class="container">
            <h4 class="display-4">{{ title }}</h4>
            {% include 'templates/_carousel.html' %}
            <small><em class="text-uppercase">{% trans 'title' %}</em></small>
            <h4 class="card-title">{{ object.title|upper }}</h4>
            <small><em class="text-uppercase">{% trans 'description' %}</em></small>
            <p class="card-text text-justify">{{ object.description }}</p>
            {% if user.is_staff or user.is_superuser %}
                <a class="btn btn-sm btn-danger-outline" href="/gallery/{{ object.id }}/delete/">
                    <i class="fa fa-trash"></i> Delete</a>
                <a class="btn btn-sm btn-danger-outline" href="/gallery/{{ object.id }}/edit/">
                    <i class="fa fa-pencil-square-o"></i> Edit
                </a>
            {% endif %}
            {% include 'templates/_share.html' %}
        </div>
    </section>
{% endblock %}