{% load i18n %}
<form class="form-inline" action="/i18n/setlang/" method="post">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ request.path }}" />
    <select class="form-language" name="language">
        {% get_language_info_list for LANGUAGES as languages %}
       {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                 {{ language.name_local }} ({{ language.code }})
            </option>
       {% endfor %}
    </select>
    <input class="btn btn-info-outline" type="submit" value="Switch Language"/>
</form>
