{% load i18n %}

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title text-uppercase">{% trans 'book now' %}</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form method="post" action="/booking/info">{% csrf_token %}
                        {{ booking_form.as_p }}
                        <input type='submit'
                               class='btn btn-lg btn-primary'
                               style="text-transform: uppercase"
                               value='{% trans 'book now' %}' />
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
            </div>
        </div>
    </div>
</div>