{% load i18n %}

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" ng-controller="FormController">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title text-uppercase">{% trans 'book now' %}</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form method="post" action="/booking/info" name="bookingForm">{% csrf_token %}
{#                        {{ booking_form.as_p }}#}
                        <p><label for="id_fullname">Name:</label> <input id="id_fullname" ng-model="fullname" name="fullname" type="text" required/></p>
                        <div ng-messages="bookingForm.fullname.$error" ng-show="bookingForm.fullname.$touched" style="color:maroon" role="alert">
                            <div ng-message="required">This field is required</div>
                        </div>
                        <p><label for="id_email">Email:</label> <input id="id_email" ng-model="email" name="email" type="email" required/></p>
                        <div ng-messages="bookingForm.email.$error" ng-show="bookingForm.email.$touched" style="color:maroon" role="alert">
                            <div ng-message="required">This field is required</div>
                        </div>
                        <p><label for="id_phone">Phone:</label> <input id="id_phone" ng-model="phone" name="phone" type="text" required/></p>
                        <div ng-messages="bookingForm.phone.$error" ng-show="bookingForm.phone.$touched" style="color:maroon" role="alert">
                            <div ng-message="required">This field is required</div>
                        </div>
                        <p><label for="id_message">Message:</label> <textarea cols="40" id="id_message" ng-model="message" name="message" rows="10" required></textarea></p>
                        <div ng-messages="bookingForm.message.$error" ng-show="bookingForm.message.$touched" style="color:maroon" role="alert">
                            <div ng-message="required">This field is required</div>
                        </div>
                        <p><label for="id_date">From Date:</label> <input id="id_date" ng-model="date" name="date" type="text" required/></p>
                        <div ng-messages="bookingForm.date.$error" ng-show="bookingForm.date.$touched" style="color:maroon" role="alert">
                            <div ng-message="required">This field is required</div>
                        </div>
                        <button type="submit" class="btn btn-lg btn-primary text-uppercase" style="width: 100%;" ng-disabled="bookingForm.$invalid">
                            {% trans 'book now' %}
                        </button>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="cancel()">{% trans 'Cancel' %}</button>
            </div>
        </div>
    </div>
</div>
<script>
    $( "#id_date" ).datepicker();
</script>
<script>
    angular.module('root', ['ngMessages', 'ngCookies'])
        .controller('FormController', ['$scope', function($scope) {
            $scope.fullname = '';
            $scope.email = '';
            $scope.phone = '';
            $scope.message = '';
            $scope.date = '';
            $scope.cancel = function () {
                $scope.fullname = '';
                $scope.email = '';
                $scope.phone = '';
                $scope.message = '';
                $scope.date = '';
                $scope.bookingForm.fullname.$touched = false;
                $scope.bookingForm.email.$touched = false;
                $scope.bookingForm.phone.$touched = false;
                $scope.bookingForm.message.$touched = false;
                $scope.bookingForm.date.$touched = false;
            };
        }])
    .controller('ContactFormController', ['$scope', function($scope) {
            $scope.fullname = '';
            $scope.email = '';
            $scope.phone = '';
            $scope.message = '';
            $scope.cancel = function () {
                $scope.fullname = '';
                $scope.email = '';
                $scope.phone = '';
                $scope.message = '';
                $scope.contactForm.fullname.$touched = false;
                $scope.contactForm.email.$touched = false;
                $scope.contactForm.phone.$touched = false;
                $scope.contactForm.message.$touched = false;
            };
        }])
</script>