
{% load crispy_forms_tags %}
    <div class="container">
        <form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
            {{ form }}
            <input style="margin-top: 50px" type="submit" class="btn btn-lg btn-primary" value='{{ value }}' />
        </form>
    </div>
    <script>
        $('textarea').each(function(){
            $(this).addClass('form-control')
        })
        $('input').each(function(){
            $(this).addClass('form-control')
        })
        $('label').each(function(){
            $(this).addClass('my-label')
        })
    </script>
