{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
    {% include 'templates/_breadcrumbs.html' %}
    <section class="details">
        <div class="container">
            <h1 class="display-4">{{ title }}</h1>
            <div class="row">
                {% if 'pt' in request.LANGUAGE_CODE %}
                    {% for object in object_list %}
                        <div class="col-md-4">
                            <div class="row">
                <div class="col-md-6">
                    <div class="card-block">
                        {% if object.img %}
                            <img style="max-height: 500px;   object-fit: cover;" class="img-fluid" src="{% static '/media/' %}{{ object.img }}" alt="" width="100%">
                        {% else %}
                            {% if  object.url %}
                                <img style="max-height: 500px;   object-fit: cover;" class="img-fluid" src="{{ object.url }}" alt="" width="100%">
                            {% else %}
                                <p style="text-align: center"><small><em>{% trans 'place for image' %}</em></small></p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6">
                    <h4 class="card-title">{{ object.title|upper }}</h4>
                    <p class="card-text text-justify">{{ object.description__PTr }}</p>
                    <a href="{{ object.id }}" class="btn btn-danger text-uppercase" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">{% trans 'book now' %}</a>
                    {% include 'templates/_share.html' %}
                    {% if user.is_staff %}
                        <a class="btn btn-sm btn-danger-outline" href="/tours/{{ object.id }}/edit/">
                            <i class="fa fa-pencil-square-o"></i> {% trans 'Edit' %}</a>
                        <a type="button" class="btn btn-sm btn-danger-outline" onclick="delete_contact({{ object.id }})" data-toggle="modal" data-target=".delete_tour"><i class="fa fa-trash"></i> {% trans 'Delete'%}</a></a>
                    {% endif %}
                    {% include 'templates/modal/_delete_tour.html' %}
                    {% include 'templates/_modal_book_now.html' %}
                </div>
            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if 'en' in request.LANGUAGE_CODE %}
                    {% for object in object_list %}
                        <div class="col-md-4">
                            <div class="row">
                <div class="col-md-6">
                    <div class="card-block">
                        {% if object.img %}
                            <img style="max-height: 500px;   object-fit: cover;" class="img-fluid" src="{% static '/media/' %}{{ object.img }}" alt="" width="100%">
                        {% else %}
                            {% if  object.url %}
                                <img style="max-height: 500px;   object-fit: cover;" class="img-fluid" src="{{ object.url }}" alt="" width="100%">
                            {% else %}
                                <p style="text-align: center"><small><em>{% trans 'place for image' %}</em></small></p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6">
                    <h4 class="card-title">{{ object.title|upper }}</h4>
                    <p class="card-text text-justify">{{ object.description }}</p>
                    <a href="{{ object.id }}" class="btn btn-danger text-uppercase" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">{% trans 'book now' %}</a>
                    {% include 'templates/_share.html' %}
                    {% if user.is_staff %}
                        <a class="btn btn-sm btn-danger-outline" href="/tours/{{ object.id }}/edit/">
                            <i class="fa fa-pencil-square-o"></i> {% trans 'Edit' %}</a>
                        <a type="button" class="btn btn-sm btn-danger-outline" onclick="delete_contact({{ object.id }})" data-toggle="modal" data-target=".delete_tour"><i class="fa fa-trash"></i> {% trans 'Delete'%}</a></a>
                    {% endif %}
                    {% include 'templates/modal/_delete_tour.html' %}
                    {% include 'templates/_modal_book_now.html' %}
                </div>
            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if 'de' in request.LANGUAGE_CODE %}
                    {% for object in object_list %}
                        <div class="col-md-4">
                            <div class="row">
                <div class="col-md-6">
                    <div class="card-block">
                        {% if object.img %}
                            <img style="max-height: 500px;   object-fit: cover;" class="img-fluid" src="{% static '/media/' %}{{ object.img }}" alt="" width="100%">
                        {% else %}
                            {% if  object.url %}
                                <img style="max-height: 500px;   object-fit: cover;" class="img-fluid" src="{{ object.url }}" alt="" width="100%">
                            {% else %}
                                <p style="text-align: center"><small><em>{% trans 'place for image' %}</em></small></p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6">
                    <h4 class="card-title">{{ object.title|upper }}</h4>
                    <p class="card-text text-justify">{{ object.description }}</p>
                    <a href="{{ object.id }}" class="btn btn-danger text-uppercase" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">{% trans 'book now' %}</a>
                    {% include 'templates/_share.html' %}
                    {% if user.is_staff %}
                        <a class="btn btn-sm btn-danger-outline" href="/tours/{{ object.id }}/edit/">
                            <i class="fa fa-pencil-square-o"></i> {% trans 'Edit' %}</a>
                        <a type="button" class="btn btn-sm btn-danger-outline" onclick="delete_contact({{ object.id }})" data-toggle="modal" data-target=".delete_tour"><i class="fa fa-trash"></i> {% trans 'Delete'%}</a></a>
                    {% endif %}
                    {% include 'templates/modal/_delete_tour.html' %}
                    {% include 'templates/_modal_book_now.html' %}
                </div>
            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            {% if user.is_staff or user.is_superuser %}
                <a class="btn btn-warning" href="{% url 'tour:create' %}">
                    <i class="fa fa-plus"></i> {% trans 'Create Tour' %}</a>
            {% endif %}
            {% include 'templates/_pagination.html' %}
        </div>
    </section>
{% endblock %}