{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block description %}{{ object.description_SEO }}{% endblock description %}
{% block keywords %}{{ object.keywords_SEO }}{% endblock keywords %}
{% block content %}
    {% include 'templates/_breadcrumbs.html' %}
    <section class="details">
        <div class="container">
            <h4 class="display-4">{{ title }}</h4>
            <div class="row">
                <div class="col-md-6">
                    {% if object.img %}
                        <img style="max-height: 500px; object-fit: cover;" class="img-fluid" src="{% static '/media/' %}{{ object.img }}" alt="" width="100%">
                    {% else %}
                        <p style="text-align: center"><small><em>{% trans 'place for image' %}</em></small></p>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <small><em class="text-uppercase">{% trans 'title' %}:</em></small>
                    <p class="card-text"> {{ object.title }}</p>
                    <small><em class="text-uppercase">{% trans 'description' %}:</em></small>
                    <p class="card-text"> {{ object.description }}</p>
                    <a class="btn btn-danger" href="/tours/">{% trans 'SEE ALL' %}</a>
                    {% if user.is_staff or user.is_superuser %}
                        <a class="btn btn-sm btn-danger-outline" href="/offer/{{ object.id }}/delete/">
                            <i class="fa fa-trash"></i> {% trans 'Delete' %}</a>
                        <a class="btn btn-sm btn-danger-outline" href="/offer/{{ object.id }}/edit/">
                            <i class="fa fa-pencil-square-o"></i> {% trans 'Edit' %} </a>
                    {% endif %}
                    {% include 'templates/_share.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}