<div class="center-block social-wrapper">
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.get_host }}{{ object.get_absolute_url }}" class="social-link">
        <i class="fa fa-facebook"></i>
    </a>
    <a href="https://twitter.com/intent/tweet?url=http://{{ request.get_host }}{{ object.get_absolute_url }}" class="social-link">
        <i class="fa fa-twitter"></i>
    </a>
    <a href="https://www.pinterest.com/" class="social-link">
        <i class="fa fa-pinterest"></i>
    </a>
    <a href="https://www.instagram.com/" class="social-link">
        <i class="fa fa-instagram"></i>
    </a>
    <g:plus action="share" data-href="{{ request.get_host }}{{ object.get_absolute_url }}"></g:plus>
{#    <a href="https://plus.google.com/share?url={{ request.get_host }}{{ object.get_absolute_url }}" class="social-link">#}
{#        <i class="fa fa-google-plus"></i>#}
{#    </a>#}
</div>