<div class="center-block">
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.get_host }}{{ object.get_absolute_url }}" class="social-link">
        <i class="fa fa-facebook"></i>
    </a>
    <a href="https://twitter.com/intent/tweet?url=http://{{ request.get_host }}{{ object.get_absolute_url }}" class="social-link">
        <i class="fa fa-twitter"></i>
    </a>
    <a href="https://www.pinterest.com/" class="social-link">
        <i class="fa fa-pinterest"></i>
    </a>
    <a href="https://www.instagram.com/" class="social-link">
        <i class="fa fa-instagram"></i>
    </a>
    <div class="g-plus" data-action="share" data-height="24" data-href="{{ object.get_absolute_url }}"></div>
    <script>
        window.___gcfg = {
            lang: 'en-GB'
        };
    </script>
</div>