{% load staticfiles %}
<div class="card">
    {% if object.img %}
        <a href="{{ object.id }}"><img style="height: 350px;width: 100%; object-fit: cover;" class="img-fluid" src="{% static '/media/' %}{{ object.img }}" alt="{{ object.title_pt }}"></a>
    {% else %}
        <a href="{{ object.id }}"><img style="height: 350px;width: 100%;   object-fit: cover;" class="img-fluid" src="{{ object.url }}" alt="{{ object.title_pt }}"></a>
    {% endif %}
    <div class="card-block">
        <p>{{ object.title_pt }}</p>
        <p>{{ object.title_gb }}</p>
        <p>{{ object.title_de }}</p>
        <p>{{ object.description_pt }}</p>
        <p>{{ object.description_gb }}</p>
        <p>{{ object.description_de }}</p>
        <p>{{ object.price }}</p>
        <p>{{ object.img }}</p>
        <p>{{ object.url }}</p>
        <p>{{ object.created_on }}</p>
        {% if pt %}
        {% else %}
        {% endif %}

        <h4 class="card-title">{{ object.title_pt }}</h4>

        <p class="card-text text-justify">{{ object.description_pt|truncatechars:200}}</p>
        <a href="{{ object.id }}" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">BOOK NOW</a>
        <a href="{{ object.id }}" class="btn btn-danger-outline">Read More</a>

        {% include 'templates/_share.html' %}
        {% if user.is_staff %}
            <a class="btn btn-sm btn-danger-outline " href="/tours/{{ object.id }}/edit/">edit</a>
        {% endif %}
    </div>
    {% include 'templates/_modal.html' %}
</div>
