{% load thumbnail %}
{% load i18n %}
<div class="card">
{% load i18n %}
    {% if object.img %}
        <a href="{{ object.get_absolute_url }}">
            <img style="height: 350px;width: 100%; object-fit: cover;" class="img-fluid" src="{% thumbnail object.img 720x480 crop="smart" %}" alt="{{ object.title_DE }}">
        </a>
    {% else %}
        {% if object.url  %}
            <a href="{{ object.get_absolute_url }}">
                <img style="height: 350px;width: 100%;   object-fit: cover;" class="img-fluid" src="{{ object.url }}" alt="{{ object.title_DE }}">
            </a>
        {% else %}
            <p style="text-align: center"><small><em>{% trans 'place for image' %}</em></small></p>
        {% endif %}
    {% endif %}
    <div class="card-block">
        <h4 class="card-title">{{ object.title_DE|upper }}
            {% if object.price %}
                | {{ object.price }} €
            {% endif %}</h4>
        <p class="card-text text-justify">{{ object.description_DE|truncatechars:200|safe}}</p>
        <p>{{ object.created_on }}</p>
        <p><small><em class="text-uppercase">{% trans 'category' %}: </em><em><a href="{{ object.category.get_absolute_url }}">{{ object.category }}</a></em></small></p>
        <a href="{{ object.id }}" class="btn btn-danger text-uppercase" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">{% trans 'book now' %}</a>
        {% include 'templates/buttons/_details.html' %}
    </div>
    <div class="card-footer">
        {% include 'templates/_share.html' %}
        {% if user.is_staff %}
             <a class="btn btn-sm btn-danger-outline" href="{{ object.get_edit_url }}">
                    <i class="fa fa-pencil-square-o"></i> {% trans 'Edit' %}</a>
            <a type="button" class="btn btn-sm btn-danger-outline" onclick="delete_contact({{ object.id }})" data-toggle="modal" data-target=".delete_tour"><i class="fa fa-trash"></i> {% trans 'Delete'%}</a></a>
        {% endif %}
    </div>
</div>