<ol class="breadcrumb">
    {% if breadcrumbs_list %}
        {% for breadcrumb in breadcrumbs_list %}
            <li><a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a></li>
        {% endfor %}
        {% else %}
            <li><a href="/">Home</a></li>
    {% endif %}
{#    <li class="active">Data</li>#}
</ol>
<div class="pull-right" style="margin-top: 10px; margin-right: 20px">
    <span class="text-danger">Choose language:</span>
    <i style="cursor: pointer" class="flag-icon flag-icon-pt"></i>
    <i style="cursor: pointer" class="flag-icon flag-icon-gb"></i>
    <i style="cursor: pointer" class="flag-icon flag-icon-de"></i>
</div>