{% load staticfiles %}
<div class="card">
    <a href="{{ object.id }}"><img style="max-height: 500px;   object-fit: cover;" class="img-fluid" src="{% static '/media/' %}{{ object.img }}" alt="" width="100%"></a>
    <div class="card-block">
        <h4 class="card-title">{{ object.title_pt }}</h4>
        <h4 class="card-title">{{ object.title }}</h4>
        <p class="card-text">{{ object.text }}</p>
        <a href="{{ object.id }}" class="btn btn-warning">Order</a>
        <a href="{{ object.id }}" class="btn btn-warning-outline">Details</a>

{#      {{ request.build_absolute_uri }}{{ object.id  }}#}
{#      {{ request.get_full_path }}#}
{#      {{ request.user }}#}
{#      {{ request.get_current_site }}#}

        {% include 'templates/share.html' %}
    </div>
</div>
