<div class="col-md-4">
    <div class="card">
        <div class="card-block">
            {% if user.is_staff %}
                <a href="/tours/contact/{{ contact.id }}/edit/">edit</a>
            {% endif %}
            <h4 class="card-title">{{ contact.first_name }}</h4>
            <h6 class="card-subtitle text-muted">{{ contact.last_name }}</h6>
        </div>
        <img class="img-fluid" src="/media/{{ contact.img }}" alt="">
        <div class="card-block">
            <p class="card-text">{{ contact.category }}</p>
            {% if contact.mobile  %}
                <p class="card-text"><span class="fa fa-mobile"></span> {{ contact.mobile }}</p>
            {% endif %}
            {% if contact.email  %}
                <p class="card-text"><span class="fa fa-mail-forward"></span> {{ contact.email }}</p>
            {% endif %}
            {% if contact.whatsapp  %}
                <p class="card-text"><span class="fa fa-whatsapp"></span> {{ contact.whatsapp }}</p>
            {% endif %}
            {% if contact.viber  %}
                <p class="card-text"><span>viber:</span> {{ contact.viber }}</p>
            {% endif %}
            {% if contact.telegram  %}
                <p class="card-text"><span>telegram: </span>{{ contact.telegram }}</p>
            {% endif %}
            {% if contact.skype  %}
                <p class="card-text"><span class="fa fa-skype"></span> {{ contact.skype }}</p>
            {% endif %}
            {% if contact.facebook  %}
                <a class="card-link" href="{{ contact.facebook }}">Follow on Facebook <span class="fa fa-facebook"></span></a>
            {% endif %}
            {% if contact.twitter  %}
                <a class="card-link" href="{{ contact.twitter }}">Follow on Twitter <span class="fa fa-twitter"></span></a>
            {% endif %}
            {% if contact.pinterest  %}
                <a class="card-link" href="{{ contact.pinterest }}">Follow on Pinterest <span class="fa fa-pinterest"></span></a>
            {% endif %}
            {% if contact.instagram  %}
                <a class="card-link" href="{{ contact.instagram }}">Follow on Instagram <span class="fa fa-instagram"></span></a>
            {% endif %}
            {% if contact.google  %}
                <a class="card-link" href="{{ contact.google }}">Follow on Google + <span class="fa fa-google-plus"></span></a>
            {% endif %}
        </div>
    </div>
</div>