<footer class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h4 class="text-md-center">About</h4>
            <p style="color: #0275d8" class="text-justify">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
        </div>
        <div class="col-md-4">
            <h4 class="text-md-center">Site Map</h4>
            <ol class="list-unstyled">
                <li class="text-md-center"><a href="{% url 'home' %}"> Home</a></li>
                <li class="text-md-center"><a href="{% url 'tour_list' %}">  Tours</a></li>
                <li class="text-md-center"><a href="{% url 'home' %}"> Pricing</a></li>
                <li class="text-md-center"><a href="{% url 'home' %}"> About</a></li>
            </ol>
        </div>
        <div class="col-md-4">
            <h4 class="text-md-center">Contact</h4>
            <ol class="list-unstyled">
                <li class="text-md-center"><a href="#"> Follow on Twitter <i class="fa fa-twitter"></i></a></li>
                <li class="text-md-center"><a href="#">  Follow on Facebook <i class="fa fa-facebook"></i></a></li>
                <li class="text-md-center"><a href="#"> Follow on Instagram <i class="fa fa-instagram"></i></a></li>
                <li class="text-md-center"><a href="#"> Email me <i class="fa fa-mail-forward"></i></a></li>
            </ol>
        </div>
    </div>
    <div class="center-block" style="width: 200px; margin-top: 30px">
        <a href="https://www.facebook.com/"><i class="fa fa-facebook" style="margin:0 5px;color: #01549b; font-size: 32px"></i></a>
        <a href="https://www.twitter.com/"><i class="fa fa-twitter" style="margin:0 5px;color: #01549b; font-size: 32px"></i></a>
        <a href="https://www.pinterest.com/"><i class="fa fa-pinterest" style="margin:0 5px;color: #01549b; font-size: 32px"></i></a>
        <a href="https://www.instagram.com/"><i class="fa fa-instagram" style="margin:0 5px;color: #01549b; font-size: 32px"></i></a>
    </div>
    <p style="padding-top: 50px; text-align: center">All Original Content © 2000-16 Company Name, Inc., All Rights Reserved</p>
</footer>
